<div class="h-100 sidenav pt-4" 
    [@showHideSidebar]="settings.showSidebar ? 'show' : 'collapse'"
    [ngClass]="settings.showSidebar ? 'pl-4 pr-4' : 'pl-2 pr-2' ">

    <div class="form-group">
        <button type="button" 
            class="btn btn-info fa fa-xs"
            [ngClass]="settings.showSidebar ? 'fa-arrow-right' : 'fa-arrow-left' " 
            (click)="settings.showSidebar = !settings.showSidebar">
        </button>
    </div>

    <div *ngIf="settings.showSidebar">
        <div class="form-group mt-4">
            <div><label class="small">Show/hide</label></div>
            <button 
                type="button" 
                class="btn fa fa-xs fa-calendar-alt mr-1"
                (click)="settings.showCalendar = !settings.showCalendar"
                [ngClass]="settings.showCalendar ? 'btn-info' : 'btn-secondary'">
            </button>
            <button 
                type="button" 
                class="btn fa fa-xs fa-chart-pie mr-1"
                (click)="settings.showDiagrams = !settings.showDiagrams"
                [ngClass]="settings.showDiagrams ? 'btn-info' : 'btn-secondary'">
            </button>
            <button 
                type="button" 
                class="btn fa fa-xs fa-calculator mr-1"
                (click)="settings.showCalculator = !settings.showCalculator"
                [ngClass]="settings.showCalculator ? 'btn-info' : 'btn-secondary'">
            </button>
        </div>

        <hr>

        <div class="form-group">
            <label class="small">{{ settings.entriesFilterOrAddMode ? 'Filter entries' : 'Add new entry' }}</label>
            <div class="custom-control custom-switch float-right">
                <input type="checkbox" class="custom-control-input" [(ngModel)]="settings.entriesFilterOrAddMode" id="sidebar-mode-switcher">
                <label class="custom-control-label" for="sidebar-mode-switcher"></label>
            </div>
        </div>
        <div class="form-group">
            <select class="form-control-sm">
                <option>Hello lalala</option>
            </select>
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text fa fa-calendar-alt"></span>
            </div>
            <input angular-mydatepicker
                    class="form-control"
                    placeholder="date from filter"
                    [options]="datePickerOptions" 
                    [(ngModel)]="apiFilters.dateFrom" 
                    #dp1="angular-mydatepicker" 
                    (click)="dp1.toggleCalendar()"
            />
            <div class="input-group-append">
              <button 
                class="btn btn-danger input-group-text fa fa-times"
                (click)="apiFilters.dateFrom=null"></button>
            </div>
        </div>

        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text fa fa-calendar-alt"></span>
            </div>
            <input angular-mydatepicker
                    class="form-control"
                    placeholder="date to filter"
                    [options]="datePickerOptions" 
                    [(ngModel)]="apiFilters.dateTo" 
                    #dp2="angular-mydatepicker" 
                    (click)="dp2.toggleCalendar()"
            />
            <div class="input-group-append">
              <button 
                class="btn btn-danger input-group-text fa fa-times"
                (click)="apiFilters.dateTo=null"></button>
            </div>
        </div>

        <div class="form-group text-center">
            <button type="button" class="btn btn-success fa-xs inline float-center" *ngIf="settings.entriesFilterOrAddMode" (click)="getEntries()">Filter</button>
            <button type="button" class="btn btn-success fa-xs inline float-center" *ngIf="!settings.entriesFilterOrAddMode" (click)="addEntry()">Add</button>
        </div>
        
        <div *ngIf="settings.showCalculator">
            <hr>
            <app-calculator></app-calculator>
        </div>
    </div>

</div>

<div [@sideBarNotCollapsed]="settings.showSidebar ? 'yes' : 'no'" class="p-3 pl-5">
    <app-booker-table *ngFor="let entry of entries" [entry]="entry"></app-booker-table>
</div>