.sidenav {
    background-color: var(--primary-color);
    color: #fdffff;
    position: fixed;
    right: 0;
}

#sidenav-content {
    padding: 25px;
}


.tables-container {
    padding: 50px;
}

.sidenav hr {
    background-color: var(--secondary-color);
}

.sidenav select {
    width: 100%;
}


