.sidenav {
    background-color: var(--primary-color);
    color: #fdffff;
    position: fixed;
    right: 0;
}

.sidenav hr {
    background-color: var(--secondary-color);
}

.sidenav select {
    width: 100%;
}


