{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
<style>
    body {
        background-image: url("{% static '/img/raccoons/success.jpg' %}");
        background-repeat: no-repeat;
        background-size:contain;
    }

    .login-block {
        padding-left: 100px;
        padding-right: 100px;
        width: 400px;
    }
</style>

<div align="center" >
    <div class="login-block">
        <h1>Raccoonbooker</h1>
        <br>
        <div class="form-group">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="id_name">Email:</label>
                <input class="form-control" name="username" id="id_name" required>
                <br>
                <label for="id_password">Password:</label>
                <input class="form-control" name="password" type="password" id="id_password" required>
                <br>
                <button type="submit" class="btn btn-success">{% trans 'Sign In' %}</button>
            </form>
        </div>
        <span>-- {% trans 'OR' %} --</span>
        <br>
        <br>
        <div class="form-group">
            <form method="post" action="{% url 'base-content-generator' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">{% trans 'Try demo now' %}</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}