{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div align="center" >
        <h1>{% trans 'Welcome to' %} raccoonbooker!</h1>
        <br>
        <div style="width: 200px">
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <label for="id_name">Email:</label>
                <input class="form-control" name="username" id="id_name" required>
                <br>
                <label for="id_password">Password:</label>
                <input class="form-control" name="password" type="password" id="id_password" required>
            </form>
        </div>
        <br>
        <form method="post" action="{% url 'base-content-generator' %}">
            {% csrf_token %}
            <div class="form-group row">
                <button type="submit" class="btn btn-success">{% trans 'Sign In' %}</button>
                <br>-- {% trans 'OR' %} --<br>
                <button type="submit" class="btn btn-success">{% trans 'Try demo now' %}</button>
            </div>
        </form>
    </div>
{% endblock %}