<table class="table table-striped table-sm text-center">
    <caption>
        <span class="fa fa-pencil-alt" style="color: slategrey;"></span> 
        <div style="width: 200px;" class="inline">
            <b><input class="form-control" [(ngModel)]="entry.name"/></b>
        </div>
        <button class="btn btn-outline-info fa" style="margin-left: 50px;"
            [ngClass]="filters.deleted ? 'fa-list-ul' : 'fa-history'" 
            (click)="filters.deleted = !filters.deleted">
        </button>
        <button class="btn btn-outline-danger fa fa-trash" style="margin-left: 5px;"></button>
    </caption>
    <thead>
        <tr *ngIf="!filters.deleted" class="total-row-tr">
            <td></td>
            <td>Earnings: {{ calculations.incomesSum }}</td>
            <td>Costs: {{ calculations.outcomesSum }}</td>
            <td></td>
            <td>Total: {{ calculations.totalSum }}</td>
            <td></td>
        <tr>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Description</td>
            <td>Category</td>
            <td>Amount</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of entry.rows | filterObjectsByProperty:'deleted':filters.deleted; let index = index">
            <td>{{ index + 1 }}</td>
            <td><input [(ngModel)]="row.name" (focusout)="updateRow(row)" class="form-control-sm"></td>
            <td><input [(ngModel)]="row.description" (focusout)="updateRow(row)" class="form-control-sm"></td>
            <td>
                <select [(ngModel)]="row.category" class="form-control-sm" (change)="updateRow(row)">
                    <option *ngFor="let category of entry.categories"  [selected]="category.id === row.category.id" [ngValue]="category.id">{{category.name}}</option>
                </select>
            </td>
            <td><input [(ngModel)]="row.amount" (focusout)="updateRow(row)" class="form-control-sm" smartFloatField></td>
            <td>
                <button class="btn btn-outline-success fa fa-xs" 
                    [ngClass]="{ 'fa-trash-restore btn-outline-success': filters.deleted, 'fa-times btn-outline-danger': !filters.deleted }"       
                    (click)="removeRestoreRow(row)">
                </button>
            </td>
        </tr>
        <tr *ngIf="!filters.deleted">
            <td></td>
            <td><input [(ngModel)]="newRow.name" class="form-control-sm"></td>
            <td><input [(ngModel)]="newRow.description" class="form-control-sm"></td>
            <td>
                <select [(ngModel)]="newRow.category" class="form-control-sm">
                    <option *ngFor="let category of entry.categories" [ngValue]="category.id">{{category.name}}</option>
                </select>
            </td>
            <td><input [(ngModel)]="newRow.amount" class="form-control-sm" smartFloatField></td>
            <td><button class="btn btn-outline-success fa fa-plus" (click)="addRow()"></button></td>
        </tr>
        <tr *ngIf="!filters.deleted" class="total-row-tr">
            <td></td>
            <td>Earnings: {{ calculations.incomesSum }}</td>
            <td>Costs: {{ calculations.outcomesSum }}</td>
            <td></td>
            <td>Total: {{ calculations.totalSum }}</td>
            <td></td>
        <tr>
    </tbody>
</table>
