.new-row-tr {
    border-top: solid 2px coral;
    border-bottom: solid 2px coral;
}

table {
    font-weight: bold;
    width: 80%;
}

caption {
    caption-side: top;
}

input {
    border: none; 
    border-width: 0; 
    box-shadow: none;
}