<table class="table">
    <caption>
        <div style="width: 200px;"> 
            <input class="form-control" [(ngModel)]="entry.name"/>
            <button class="btn btn-info" (click)="filters.deleted = !filters.deleted">{{ filters.deleted ? 'Active' : 'Removed' }}</button>
        </div>
    </caption>
    <thead>
        <tr>
            <td>#</td>
            <td>Name</td>
            <td>Description</td>
            <td>Category</td>
            <td>Amount</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of entry.rows | filterObjectsByProperty:'deleted':filters.deleted; let index = index">
            <td>{{ index + 1 }}</td>
            <td><input [(ngModel)]="row.name" (focusout)="updateRow(row)" class="form-control"></td>
            <td><input [(ngModel)]="row.description" (focusout)="updateRow(row)" class="form-control"></td>
            <td>
                <select [(ngModel)]="row.category" class="form-control" (change)="updateRow(row)">
                    <option *ngFor="let category of entry.categories"  [selected]="category.id === row.category.id" [ngValue]="category.id">{{category.name}}</option>
                </select>
            </td>
            <td><input [(ngModel)]="row.amount" (focusout)="updateRow(row)" class="form-control" smartFloatField></td>
            <td>
                <button class="btn" [ngClass]="[filters.deleted ? 'btn-success': 'btn-danger']" (click)="removeRestoreRow(row)">
                    {{ filters.deleted ? 'Restore' : 'Remove' }}
                </button>
            </td>
        </tr>
        <tr class="new-row-tr">
            <td></td>
            <td><input [(ngModel)]="newRow.name" class="form-control"></td>
            <td><input [(ngModel)]="newRow.description" class="form-control"></td>
            <td>
                <select [(ngModel)]="newRow.category" class="form-control">
                    <option *ngFor="let category of entry.categories" [ngValue]="category.id">{{category.name}}</option>
                </select>
            </td>
            <td><input [(ngModel)]="newRow.amount" class="form-control" smartFloatField></td>
            <td><button class="btn btn-success" (click)="addRow()">Add</button></td>
        </tr>
        <tr>
            <td></td>
            <td>Total:</td>
            <td></td>
            <td></td>
            <td>{{ totalSum }}</td>
            <td></td>
        <tr>
    </tbody>
</table>
