<table class="table table-sm text-center table-borderless table-transparent table-hover">
    <caption>
        <span class="fa fa-pencil-alt" style="color: slategrey;"></span> 
        <div style="width: 200px;" class="inline">
            <b><input class="form-control" [(ngModel)]="entry.name"/></b>
        </div>
        <button class="ml-5 btn btn-outline-info fa"
            [ngClass]="filters.deleted ? 'fa-list-ul' : 'fa-history'" 
            (click)="filters.deleted = !filters.deleted">
        </button>
        <button class="ml-1 btn btn-outline-danger fa fa-trash"></button>
        <div class="ml-5 inline" style="width: 300px;">
            <span class="mr-1">{{ entry.date_from }}</span>
            <span class="mr-1">-</span>
            <span>{{ entry.date_to }}</span>
        </div>
    </caption>
    <thead>
        <tr *ngIf="!filters.deleted" class="total-row-tr">
            <td></td>
            <td>Earnings: {{ calculations.incomesSum }}</td>
            <td>Costs: {{ calculations.outcomesSum }}</td>
            <td></td>
            <td [ngClass]="{'text-success': calculations.totalSum >= 0, 'text-danger': calculations.totalSum < 0}">Total: {{ calculations.totalSum }}</td>
            <td></td>
        <tr>
        <tr>
            <td></td>
            <td>Name</td>
            <td>Description</td>
            <td>Category</td>
            <td>Amount</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of entry.rows | filterObjectsByProperty:'deleted':filters.deleted;">
            <td><span class="fa fa-sm" [ngClass]="{'text-success fa-plus': row.amount >= 0, 'text-danger fa-minus': row.amount < 0}"></span></td>
            <td><input [(ngModel)]="row.name" (focusout)="updateRow(row)" class="form-control-sm"></td>
            <td><input [(ngModel)]="row.description" (focusout)="updateRow(row)" class="form-control-sm"></td>
            <td>
                <select [(ngModel)]="row.category" class="form-control-sm" (change)="updateRow(row)">
                    <option *ngFor="let category of entry.categories"  [selected]="category.id === row.category.id" [ngValue]="category.id">{{category.name}}</option>
                </select>
            </td>
            <td><input [(ngModel)]="row.amount" (focusout)="updateRow(row)" class="form-control-sm" smartFloatField></td>
            <td>
                <button class="btn btn-outline-success fa fa-xs" 
                    [ngClass]="{ 'fa-trash-restore btn-outline-success': filters.deleted, 'fa-times btn-outline-danger': !filters.deleted }"       
                    (click)="removeRestoreRow(row)">
                </button>
            </td>
        </tr>
        <tr *ngIf="!filters.deleted">
            <td></td>
            <td><input [(ngModel)]="newRow.name" class="form-control-sm"></td>
            <td><input [(ngModel)]="newRow.description" class="form-control-sm"></td>
            <td>
                <select [(ngModel)]="newRow.category" class="form-control-sm">
                    <option *ngFor="let category of entry.categories" [ngValue]="category.id">{{category.name}}</option>
                </select>
            </td>
            <td><input [(ngModel)]="newRow.amount" class="form-control-sm" smartFloatField></td>
            <td><button class="btn btn-outline-success fa fa-xs fa-plus" (click)="addRow()"></button></td>
        </tr>

    </tbody>
    <thead>
        <tr *ngIf="!filters.deleted" class="total-row-tr">
            <td></td>
            <td>Earnings: {{ calculations.incomesSum }}</td>
            <td>Costs: {{ calculations.outcomesSum }}</td>
            <td></td>
            <td [ngClass]="{'text-success': calculations.totalSum >= 0, 'text-danger': calculations.totalSum < 0}">Total: {{ calculations.totalSum }}</td>
            <td></td>
        <tr>
    </thead>
</table>
