{% load static %}
<html>
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Raccoonbooker</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
        <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
    </head>

    <body>

        <div>
            {% if user.is_authenticated %}
                <p>Welcome, {{ request.user.username }}. Thanks for logging in.</p>
            {% else %}
                <p>Welcome, new user. Please log in.</p>
            {% endif %}
        </div>

        {% block content %}
        {% endblock %}
        <script src="{% static 'runtime-es2015.js' %}" type="module"></script>
        <script src="{% static 'runtime-es5.js' %}" nomodule defer></script>
        <script src="{% static 'polyfills-es5.js' %}" nomodule defer></script>
        <script src="{% static 'polyfills-es2015.js' %}" type="module"></script>
        <script src="{% static 'styles-es2015.js' %}" type="module"></script>
        <script src="{% static 'styles-es5.js' %}" nomodule defer></script>
        <script src="{% static 'vendor-es2015.js' %}" type="module"></script>
        <script src="{% static 'vendor-es5.js' %}" nomodule defer></script>
        <script src="{% static 'main-es2015.js' %}" type="module"></script>
        <script src="{% static 'main-es5.js' %}" nomodule defer></script></body>
    </body>
</html>