{% load static %}
<html>
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Raccoonbooker</title>
        <base href="/">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <div>
            {% if user.is_authenticated %}
                <div align="right">
                    <p>
                        Welcome, {{ request.user.username }} !
                        <form method="post" action="{% url 'logout' %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-success">Logout</button>
                        </form>
                    </p>
                </div>
            {% endif %}
        </div>
        <script>
        function reverseUrl (url_name, args=[], kwargs={}) {
            return Urls[url_name](...args, kwargs)
        }
        </script>
        {% block content %}
        {% endblock %}
        </body>
    </body>
</html>